include ../base
doctype html
html(lang='en')
head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='copyright', content='Copyright (c) 2014 Robin Radic')
        block meta
                meta(name='description', content='')
                meta(name='author', content='')

        block title
                title Basic site

        // build:css assets/styles.css
        block styles

        // bower:css
        // endbower
        link(href='assets/styles/main.css', rel='stylesheet')
        // endbuild
body
    block body


// build:js assets/vendor.js
// bower:js
// endbower
// endbuild
block scripts